.main{
  min-width: 970px;
  justify-content: space-around;
}

.header {
  margin: 0 auto;

  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .header {flex-direction: column;
  /* align-items: flex-end; */
  padding: 100px;
  justify-content: space-evenly;
}
}

#sweet-home {
  margin-left: 2%;
  padding: 3%;

  font-family: 'Licorice';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100px;  
  
  color: #EBE9E9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-nav-links {
  display: flex;
  flex-direction: row;
  padding: 6%;
  column-gap: 10%;
  justify-content: flex-end;
  font-size: 20px;
  
  width: 70%;
  
  order: 0;
}


.main-nav-icons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  padding: 5.5%;
  gap: 20%;

  width: 15%;
  order: 1;
  color: #FCFFF5;
  /* flex: none;
  flex-grow: 0; */
}


#main-nav-main {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;  
    
  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-nav-catalog {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

#main-nav-service {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
}

#main-nav-search{    
  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-nav-cart{  
  flex: none;
  order: 1;
  flex-grow: 0;
}

#main-nav-profile{
  /* width: 24px;
  height: 24px; */
    
  flex: none;
  order: 2;
  flex-grow: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

@media (max-width: 1400px) {
  .content {flex-direction: column;}
}

.photos{
  width: 600px;
  height: 600px;

  margin-left: 80px;
  margin-right: 120px;

  position: relative;
}

.circle{
  position: absolute;
  top: 150px;
  z-index: 2;
}

.rectangle{
  position: absolute;
  left: 300px;
  z-index: 1;
}

#front_img{
  width: 400px;
}

#back_img{
  width: 350px;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.main-content-text{
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-left: 5%;
  margin-top: 10%;
  gap: 24px;
  width: 600px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-content-text-header{
  width: 500px;
  height: 80px;
    
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200px;
  font-size: 42px;
  line-height: 40px;  
  
  color: #FCFFF5;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

#main-content-text-text{
  width: 500px;
  height: 96px;
  
  /* title / medium / l */
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  /* or 150% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  
  color: #FCFFF5;
    
  flex: none;
  order: 1;
  flex-grow: 0;
}

#main-content-button{
  display: flex;
  flex-direction: row;
  gap: 8px;
  
  background: #FFE0DB;
  border-radius: 32px;
  margin-left: 10%;
    
  flex: none;
  order: 1;
  flex-grow: 0;
}




